/* css styles */

.navbar {
  background-color: #acdbee;
}

/* Control the height of the logo */
.navbar-brand img {
  /*max-height: 45px;*/
  max-height: 60px;
}

p {
  font-family: FreeSans;
}

h1, h2, h3, h4, h5, h6 {
  font-family: FreeSans;
}
